In [1]:
# Importamos las librerías necesarias para nuestro código
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 13})

In [2]:
#Leemos el archivo 
df0 = pd.read_csv("vid18_180219.dat")

In [3]:
#Creamos una columna para la fecha como variable date
df0['TIMESTAMP'] = pd.to_datetime(df0.apply(lambda x: x['TIMESTAMP'], 1), dayfirst=True)

In [4]:
#seleccionamos solo las columnas que nos interesan
df0 = df0.rename(columns={'TIMESTAMP': 'Fecha','AirTC_Avg':'TempA'})

In [5]:
df0=df0[(df0['Fecha']>'2018-11-1')]

In [6]:
#Creamos una columna para el número de mes y de año, respectivamente
df0['HORA']=df0['Fecha'].dt.hour

In [7]:
df=df0[['Fecha', 'TempA', 'HORA']]

In [8]:
df.head()

                    Fecha  TempA  HORA
24936 2018-11-01 00:10:00   8.89     0
24937 2018-11-01 00:20:00   8.66     0
24938 2018-11-01 00:30:00   8.52     0
24939 2018-11-01 00:40:00   8.47     0
24940 2018-11-01 00:50:00   8.58     0

In [9]:
df1 = df.groupby([df0['Fecha'].dt.year,df['Fecha'].dt.month,df['Fecha'].dt.day,df['Fecha'].dt.hour]).mean()

In [10]:
df.head()

                    Fecha  TempA  HORA
24936 2018-11-01 00:10:00   8.89     0
24937 2018-11-01 00:20:00   8.66     0
24938 2018-11-01 00:30:00   8.52     0
24939 2018-11-01 00:40:00   8.47     0
24940 2018-11-01 00:50:00   8.58     0

In [11]:
df_0=df1.TempA[df1.TempA < 1.4]
df_0.count()
#df_0.count()

22

In [12]:
df_1=df1[df1.TempA >= 1.5]
df_2=df_1.TempA[df_1.TempA <= 2.4].count()
df_2

13

In [13]:
df_3=df1[df1.TempA >= 2.5]
df_4=df_3.TempA[df_3.TempA <= 9.1].count()
df_4

460

In [14]:
df_5=df1[df1.TempA >= 9.2]
df_6=df_5.TempA[df_5.TempA <= 12.4].count()
df_6

531

In [15]:
df_7=df1[df1.TempA >= 12.5]
df_8=df_7.TempA[df_7.TempA <= 15.9].count()
df_8

426

In [16]:
df_9=df1[df1.TempA >= 16]
df_10=df_9.TempA[df_9.TempA <= 18].count()
df_10

195

In [17]:
df_11=df1.TempA[df1.TempA > 18].count()
df_11

927

In [18]:
df_2 * 0.5 + (df_4*1)+(df_6*0.5)+(df_8*0)+(df_10*-0.5)+(df_11*-1)

-292.5

In [19]:
df1['Tmin'] = df['TempA'].groupby([df['Fecha'].dt.year,df['Fecha'].dt.day,df['Fecha'].dt.hour]).min()
df1['Tmax'] = df['TempA'].groupby([df['Fecha'].dt.year,df['Fecha'].dt.day,df['Fecha'].dt.hour]).max()

In [20]:
df1

                             TempA  HORA   Tmin   Tmax
Fecha Fecha Fecha Fecha
2018  11    1     0       8.624000     0  10.27  11.60
                  1       8.493333     1  10.27  11.60
                  2       8.690000     2  10.27  11.60
                  3       8.846667     3  10.27  11.60
                  4       7.397500     4  10.27  11.60
                  5       7.289833     5  10.27  11.60
                  6       6.806833     6  10.27  11.60
                  7       8.110167     7  10.27  11.60
                  8      14.960000     8  10.27  11.60
                  9      19.710000     9  10.27  11.60
                  10     22.396667    10  10.27  11.60
                  11     23.853333    11  10.27  11.60
                  12     25.125000    12  10.27  11.60
                  13     26.520000    13  10.27  11.60
                  14     27.380000    14  10.27  11.60
                  15     28.160000    15  10.27  11.60
                  16     28.621667    16  10.27  11.60
                  17     27.438333    17  10.27  11.60
                  18     16.916667    18  10.27  11.60
                  19     14.708333    19  10.27  11.60
                  20     14.060000    20  10.27  11.60
                  21     13.010000    21  10.27  11.60
                  22     12.291667    22  10.27  11.60
                  23     10.970000    23  10.27  11.60
            2     0      10.556667     0  10.06  11.02
                  1      10.248333     1  10.06  11.02
                  2      10.498333     2  10.06  11.02
                  3      11.653333     3  10.06  11.02
                  4      12.081667     4  10.06  11.02
                  5      12.060000     5  10.06  11.02
...                            ...   ...    ...    ...
2019  2     17    2       6.665500     2  13.14  24.50
                  3       5.132333     3  13.14  24.50
                  4       4.533667     4  13.14  24.50
                  5       4.613000     5  13.14  24.50
                  6       4.103500     6  13.14  24.50
                  7       3.756833     7  13.14  24.50
                  8       9.520167     8  13.14  24.50
                  9      14.001667     9  13.14  24.50
                  10     17.100000    10  13.14  24.50
                  11     18.585000    11  13.14  24.50
                  12     19.195000    12  13.14  24.50
                  13     19.400000    13  13.14  24.50
                  14     20.386667    14  13.14  24.50
                  15     20.845000    15  13.14  24.50
                  16     20.533333    16  13.14  24.50
                  17     20.065000    17  13.14  24.50
                  18     18.021667    18  13.14  24.50
                  19     15.321667    19  13.14  24.50
                  20     12.143333    20  13.14  24.50
                  21     10.508333    21  13.14  24.50
                  22      8.463333    22  13.14  24.50
                  23      7.385667    23  13.14  24.50
            18    0       6.758167     0  10.61  23.02
                  1       5.966333     1  10.61  23.02
                  2       5.617833     2  10.61  23.02
                  3       5.426667     3  10.61  23.02
                  4       4.739833     4  10.61  23.02
                  5       4.157333     5  10.61  23.02
                  6       3.746500     6  10.61  23.02
                  7       3.418500     7  10.61  23.02

[2623 rows x 4 columns]

In [21]:
fig = plt.figure(figsize=(8,5))

df1.groupby(df1['Fecha'].dt.month)['Tmin'].mean().plot(kind = 'line', legend = 'Reverse')
df1.groupby(df1['Fecha'].dt.month)['Tmax'].mean().plot(kind = 'line', legend = 'Reverse')
plt.title('Temperaturas Promedio Máxima y Mínima en Función del Tiempo')
plt.ylabel('Temperatura (°C)')
plt.xlabel('Fecha (Mes)')

KeyError: 'Fecha'